/**
 * Replace them with your own styles or remove the file completely.
 */

//variables
$prefixClass:'wp-react-plugin-boilerplate';
 $white:#fff;
 $header-left-space:180px;
 $borderColor:#c3c4c7;
 $textColor:#1d2327;
 $navItemActiveColor:#646970;
 $navItemGapBetween:25px;

.#{wp-react-plugin-boilerplate}{
	margin-right: 20px;
	margin-top: 100px;
	*{
		box-sizing: border-box;
	}
	&-main{
		min-height:100vh;
	}
	&-header{
		background-color: $white;
		margin-left: -20px;
		padding    : 10px 20px;

		&-sticky{
			position: fixed;
			width:auto;
			left: $header-left-space;
			right: 0;
			top: 32px;
			z-index: 2;
			
		}
	}
	&-navigation{
		
		padding   : 0 10px;
		width     : 100%;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
		border    : 1px solid $borderColor;
		background: $white;
		ul{
			gap: $navItemGapBetween;
			margin: 0;
			padding: 0 15px;
			li{
				margin: 0;
				padding: 0;

				a{
					padding: 15px 0;
					border-width: 0 0 4px 0;
					border-style: solid;
					border-color: transparent;
					display: inline-block;
					text-decoration: none;
					color:$textColor;
					opacity: 0.5;
					font-weight: 600;
					transition : all 0.5s ease-in-out 0s;
					box-shadow: none;
					&:hover,
					&:focus{
						opacity: 1;
						box-shadow: none;
						outline: 0;
					}
					&.#{wp-react-plugin-boilerplate}{
						&-nav-active {
							border-color: $navItemActiveColor;
							opacity: 1;
						}
					}
				}
			}
		}
	}
	&-field{
		&-wrap{
			background: $white;
			border:1px solid  $borderColor;
			padding: 20px;
			margin-block-start: 30px;

			 .components{
				&-base{
					&-control{
						&__label{
							font-weight: 600;
						}
					}
				}
			 }
		}
	}
	&-footer{
		p{

		font-size  : 14px;
		font-weight: 600;
		
		}
	}
	&-notice{
		margin: 0;
		padding-right: 20px !important;
		width: 300px;
		.components-notice__content{
			p{
				margin: 0;
			}
		}
	}
	&-page-loader{
		
		position : fixed !important;
		top      : 50%;
		left     : 50%;
		transform: translate(-50%, -50%);
		width    : 30px  !important;
		height   : 30px !important;

	}
}

body{
	&.toplevel_page_wp-react-plugin-boilerplate{
		#wpfooter{
			display: none;
		}
	}
}